*


!*/

!.gitignore

!binauralSynthesizer/__init__.py
!binauralSynthesizer/batchedHrir.py
!binauralSynthesizer/rirTensor.py
!binauralSynthesizer/framRir.py
!binauralSynthesizer/sceneAuralizer.py
!binauralSynthesizer/occlusionFilter.py
!binauralSynthesizer/batchFramRir.py
!binauralSynthesizer/smartRandomizedPlacement.py

!LICENSE
!README.md
#!benchmark_synth.py
!script.py

!pyproject.toml
!requirements.txt
!MANIFEST.in
